find ./pre_enhanced -depth -print | cpio -pdlmv /mnt/data1/bulk/image &
find ./gwyn -depth -print | cpio -pdlmv /mnt/data1/bulk/image &
find ./scud -depth -print | cpio -pdlmv /mnt/data1/bulk/image &
find ./acc -depth -print | cpio -pdlmv /mnt/data1/bulk/image &
find ./363 -depth -print | cpio -pdlmv /mnt/data1/bulk/image &
find ./mort -depth -print | cpio -pdlmv /mnt/data1/bulk/image &
find ./287 -depth -print | cpio -pdlmv /mnt/data1/bulk/image &
find ./288 -depth -print | cpio -pdlmv /mnt/data1/bulk/image &
find ./cap -depth -print | cpio -pdlmv /mnt/data1/bulk/image &
find ./cnm -depth -print | cpio -pdlmv /mnt/data1/bulk/image &
find ./liq -depth -print | cpio -pdlmv /mnt/data1/bulk/image &
find ./misc -depth -print | cpio -pdlmv /mnt/data1/bulk/image &
find ./newc -depth -print | cpio -pdlmv /mnt/data1/bulk/image &
